body {
  background-color: #ffc60c;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-top: 3rem;
  padding-bottom: 3rem;

  header {
    background-color: #ffde73;
    display: flex;
    justify-content: center;

    nav {
      display: flex;
      gap: 1rem;

      button {
        padding: 1rem 2rem;
        border: 1px solid #000000;
        border-radius: 0.3rem;
      }
    }
  }

  #content {
    background-color: #ffde73;
    width: 80%;
    max-width: 60rem;
    padding: 3rem 4rem;
    align-self: center;
    border-radius: 1rem;
  }
}
